<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{titulo}}</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-dismissible alert-success" *ngIf="status_actions === 'success'">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> Acción realizada Correctamente.
                </div>
                <div class="table-responsive">
                    <div class="col-lg-4">
                        <a [routerLink]="['/categoria-add']" class="btn btn-success">Nueva Categoria</a>
                    </div>
                    <div class="col-lg-2" class="pull-right">
                        <button type="button" class="btn btn-default" (click)="search()">
                            Buscar
                        </button>
                    </div>
                    <div class="col-lg-2" class="pull-right">
                        <input type="text" class="form-control" placeholder="Categoria" value="{{searchString}}" [(ngModel)]="searchString">
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="categorias">
                            <tr *ngFor="let categoria of categorias">
                                <td>{{categoria.nombre}}</td>
                                <td>{{categoria.descripcion}}</td>
                                <td>
                                    <span *ngIf="categoria.estadoDesc == 'Inactivo'" class="label label-sm label-danger">
                        {{categoria.estadoDesc}}
                      </span>
                                    <span *ngIf="categoria.estadoDesc == 'Activo'" class="label label-sm label-success">
                        {{categoria.estadoDesc}}
                      </span>
                                </td>

                                <td>
                                    <a [routerLink]="['/categoria-edit/',categoria.id]">
                                        <span id="editEspecialista" class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a [routerLink]="['/categoria-delete/',categoria.id]">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-sm">
                    <li [ngClass]="{disabled:first === true}">
                        <a [routerLink]="['/categoria-list', pagePrev]" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngFor="let page of totalPages">
                        <a [routerLink]="['/categoria-list', page]">{{page + 1}}</a>
                    </li>
                    <li [ngClass]="{disabled:last === true}">
                        <a [routerLink]="['/categoria-list', pageNext]" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>