<div class="col-md-12">
    <div class="well bs-component">
        <form class="form-horizontal" #DeleteProveedorForm="ngForm" (ngSubmit)="onSubmit(proveedor.id)" autocomplete="off">
            <fieldset>
                <legend *ngIf="proveedor.estadoDesc == 'Activo'">{{titulo_inactivo}}</legend>
                <legend *ngIf="proveedor.estadoDesc == 'Inactivo'">{{titulo_activo}}</legend>
                <div class="form-group">
                    <label for="nombre" class="col-lg-2 control-label">Ruc</label>
                    <div class="col-lg-10">
                        <p class="text-muted">{{proveedor.ruc}}</p>
                    </div>
                    <div hidden="true" class="col-lg-2">
                        <input hidden="true" type="text" class="form-control" id="ruc" [(ngModel)]="proveedor.ruc" name="ruc" #ruc="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="apepat" class="col-lg-2 control-label">Razón Social</label>
                    <div class="col-lg-10">
                        <p class="text-muted">{{proveedor.razsoc}}</p>
                    </div>
                    <div hidden="true" class="col-lg-2">
                        <input hidden="true" type="text" class="form-control" id="razsoc" [(ngModel)]="proveedor.razsoc" name="razsoc" #razsoc="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!DeleteProveedorForm.valid">Submit</button>
                        <button type="reset" class="btn btn-default" (click)="goBack()">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>