<div class="row">
    <div class="tiles">
        <div class="tile double-down bg-blue-hoki">
            <div class="tile-body">
                <i class="glyphicon glyphicon-user"></i> 
            </div>
            <div class="tile-object">
                <div class="name"> Notifications </div>
                <div class="number"> 6 </div>
            </div>
        </div>
        <div class="tile bg-red-sunglo">
            <div class="tile-body">
                <i class="fa fa-camera-retro "></i>
            </div>
            <div class="tile-object">
                <div class="name"> Meetings </div>
                <div class="number"> 12 </div>
            </div>
        </div>
        <div class="tile double selected bg-green-turquoise">
            <div class="corner"> </div>
            <div class="check"> </div>
            <div class="tile-body">
                <h4>support@metronic.com</h4>
                <p> Re: Metronic v1.2 - Project Update! </p>
                <p> 24 March 2013 12.30PM confirmed for the project plan update meeting... </p>
            </div>
            <div class="tile-object">
                <div class="name">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="number"> 14 </div>
            </div>
        </div>
        <div class="tile selected bg-yellow-saffron">
            <div class="corner"> </div>
            <div class="tile-body">
                <i class="fa fa-user"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Members </div>
                <div class="number"> 452 </div>
            </div>
        </div>
        
        <div class="tile bg-purple-studio">
            <div class="tile-body">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Orders </div>
                <div class="number"> 121 </div>
            </div>
        </div>
        <div class="tile bg-green-meadow">
            <div class="tile-body">
                <i class="fa fa-comments"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Feedback </div>
                <div class="number"> 12 </div>
            </div>
        </div>
        <div class="tile bg-red-intense">
            <div class="tile-body">
                <i class="fa fa-coffee"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Meetups </div>
                <div class="number"> 12 Jan </div>
            </div>
        </div>
        <div class="tile bg-green">
            <div class="tile-body">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Reports </div>
                <div class="number"> </div>
            </div>
        </div>
        <div class="tile bg-blue-steel">
            <div class="tile-body">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Documents </div>
                <div class="number"> 124 </div>
            </div>
        </div>
        <div class="tile bg-yellow-lemon selected">
            <div class="corner"> </div>
            <div class="check"> </div>
            <div class="tile-body">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Settings </div>
            </div>
        </div>
        <div class="tile bg-red-sunglo">
            <div class="tile-body">
                <i class="fa fa-plane"></i>
            </div>
            <div class="tile-object">
                <div class="name"> Projects </div>
                <div class="number"> 34 </div>
            </div>
        </div>
    </div>
</div>